# Ignore virtual environments
.venv/
venv/

# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Editor stuff
.vscode/
.idea/
.DS_Store

# media folder
media/*
!media/.gitkeep  # Optional: keep folder placeholder